.header{
    
}

.form
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.main-input{

    width: 450px;
    height: 28px;
    border: 2px solid black;
    font-size: 25px;
}


.submit-btn{
    width: 100px;
    font-size: 20px;
    height: 35px;
    border: 2px solid rgb(5, 7, 180);
    background-color: rgb(67, 70, 250);
    color: white;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: rgb(5, 7, 180);
    color: white;
    border: 2px solid rgb(67, 70, 250);
    transform: scale(1.0555);
}