.todo-item{

    display:flex;
    justify-content:space-between;
    align-items:center;
   
    padding:5px;
    margin:10px;
    background-color: rgb(253, 255, 224);
    width: 100%;
    cursor: pointer;
    
  
}
.todo-item:hover{
    background-color: rgb(249, 255, 249);
    transform: scale(1.02);
}

.edit-btn{
    margin-right:10px;
    padding:5px 10px;
    font-size:16px;
     width: 80px;
    border:2px solid rgb(5, 7, 180);
    background-color: rgb(67, 70, 250);
    color:white;
    cursor:pointer;
}
.edit-btn:hover{
    background-color: rgb(5, 7, 180);
    color: white;
    border: 2px solid rgb(67, 70, 250);
    transform: scale(1.0555);
}

.delete-btn{
    padding:5px 10px;
    font-size:16px;
    width: 80px;
    border:2px solid rgb(233, 20, 20);
    background-color: rgb(241, 21, 21);
    color:white;
    cursor:pointer;
}
.delete-btn:hover{
    background-color: rgb(180, 5, 5);
    color: white;
    border: 2px solid rgb(250, 67, 67);
    transform: scale(1.0555);
}

.item{
    display:flex;
    align-items:center;
    gap:15px;
}

.index{
    font-size:22px;
    font-weight:bold;
    width: 20px;
}
.todocontent{
    display: block;
    width: 300px;
    font-size:28px;
}


.input-edit{
    width: 350px;
    font-size:20px;
    padding:5px;
}